01-Fundamentals-Part-1/assignment.js
01-Fundamentals-Part-1/index.html
01-Fundamentals-Part-1/script.js
02-Fundamentals-Part-2/index.html
02-Fundamentals-Part-2/script.js
03-Developer-Skills/index.html
03-Developer-Skills/script.js
05-Guess-My-Number/.prettierrc
05-Guess-My-Number/index.html
05-Guess-My-Number/script.js
05-Guess-My-Number/style.css
06-Modal/.prettierrc
06-Modal/index.html
06-Modal/script.js
06-Modal/style.css
07-Pig-Game/.prettierrc
07-Pig-Game/dice-1.png
07-Pig-Game/dice-2.png
07-Pig-Game/dice-3.png
07-Pig-Game/dice-4.png
07-Pig-Game/dice-5.png
07-Pig-Game/dice-6.png
07-Pig-Game/index.html
07-Pig-Game/pig-game-flowchart.png
07-Pig-Game/script.js
07-Pig-Game/style.css
08-Behind-the-Scenes/.prettierrc
08-Behind-the-Scenes/index.html
08-Behind-the-Scenes/script.js
09-Data-Structures-Operators/.prettierrc
09-Data-Structures-Operators/challenges.js
09-Data-Structures-Operators/index.html
09-Data-Structures-Operators/script.js
10-Functions/.prettierrc
10-Functions/index.html
10-Functions/script.js
17-Modern-JS-Modules-Tooling/node_modules
17-Modern-JS-Modules-Tooling/.parcel-cache
17-Modern-JS-Modules-Tooling/dist